#color{
    color: yellow;
}

body{
    background-image: url(../img/IMG-20230414-WA0003.jpg);
    margin: 0px;
}
header{
    display: flex;
    background-color: grey;
    justify-content: space-between;
    padding: 15px;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin: 5px;
    color: purple;
}
section{
    background-color: white;
    margin: 40px 150px 30px;
    padding: 20px;
    color: purple
}
article{
    border-bottom: 3px solid black;
    margin: 20px;
    color: black;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;

}
h1{
    text-align: center;
    color: black;
}